#name{
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-family: sans-serif;
    position: static;
    
}
#university{
    color:black;
}
#degree{
  color: black;
}
#intro{
  color: rgb(148, 145, 145);
  font-size: 21px;
}
#me{
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  top: -100px; 
  left: 10px;
}
.flex-container2{
  display: flex;
  justify-content: start-left;
  padding: 0 20px;
}
.logo{
  
}
.schoolInfo{
  border: 5px solid #ccc;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  text-align: center;
  position: relative;
  bottom: -100px; 
  left: 10px;
}
.flexbox-container{
  display: flex;
  justify-content: start-left;
  padding: 0 20px;
  align-items: center;

}

.flexbox-item{
  width: 100px;
  height: 100px;
  margin-right: 100px;
  padding: 50px;
  
  
}
.flexbox-item-1{
  width: 300px;
  height: 300px;
  margin-left: 0px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #ccc;
  
}
.flexbox-item-2{
  min-height: 200px;
  min-width: 200px;
  text-align: start-left;
  border: 5px solid #ccc;
  border-radius: 10px;
  
}
.flexbox-item-3{
  min-height: 200px;
  min-width: 200px;
  text-align: start-left;
  border: 5px solid #ccc;
  border-radius: 10px;
}
.flexbox-item-4{
  min-height: 200px;
  min-width: 200px;
  text-align: start-left;
  border: 5px solid #ccc;
  border-radius: 10px;
  
  
}
#languages{
  color: black;
}
#osTitle{
  color: black;
}
#dbTitle{
  color: black;
}
#skill_list{
  color: black;
}
#osList{
  color: black;
}
#dbList{
  color: black;
}
#ic-list{
  color: rgb(148, 145, 145);
  border: 5px solid #ccc;
  border-radius: 10px;

}
#IC{
  color: black;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  
  .tablink {
    background-color: rgb(156, 156, 156);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 19px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  

  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

#AboutMe {background-color: #ececec;
background-size: cover;}
#Projects {background-color: #ececec;}
#Education {background-color: #ececec;}
#Experience {background-color: #ececec;}

#listOfProjects{
  color: rgb(148, 145, 145);
  border: 5px solid #ccc;
  border-radius: 10px;
}
#projectsTitle{color: black;}