#name{
    color: antiquewhite;
    font-size: 48px;
    font-family: sans-serif;
    text-shadow: 2px 2px #ff0000;
    position: static;
    
}
#contactEmail{
    color:antiquewhite;
}
#textMe{
  color: antiquewhite;
}
#intro{
  border-style: inset;
  border-color: red;
  font-size: 21px;
}
#me{
  position: static;
  float: left;
  padding: 0px;
  height: auto;
  width: 100%;
}
.flexbox-container{
  display: flex;
}
.flexbox-item{
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}
.flexbox-item-1{
  min-height: 100px;
}
.flexbox-item-2{
  min-height: 200px;
}
.flexbox-item-3{
  min-height: 300px;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: rgb(225, 102, 102);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 19px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

#AboutMe {background-color: #2DB3C7;
background-size: cover;}
#Projects {background-color: #2DB3C7;}
#SayHello {background-color: #2DB3C7;}