#name{
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-family: sans-serif;
    position: static;
    
}
#contactEmail{
    color:antiquewhite;
}
#textMe{
  color: antiquewhite;
}
#intro{
  color: rgb(148, 145, 145);
  font-size: 21px;
}
#me{
  position: static;
  float: left;
  padding: 0px;
  height: auto;
  width: 100%;
}
.flexbox-container{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

}

.flexbox-item{
  width: 100px;
  height: 100px;
  /*border: 1px solid #ccc;*/
  margin-right: 1px;
}
.flexbox-item-1{
  width: 300px;
  height: 300px;
  margin-left: 0;
  
}
.flexbox-item-2{
  min-height: 200px;
}
.flexbox-item-3{
  min-height: 300px;
}
.flexbox-item-4{
  min-height: 300px;
  margin-right: 0;
}
#languages{
  color: black;
}
#osTitle{
  color: black;
}
#dbTitle{
  color: black;
}
#skill_list{
  color: black;
}
#osList{
  color: black;
}
#dbList{
  color: black;
}
#ic-list{
  color: rgb(148, 145, 145);
}
#IC{
  color: black;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: rgb(156, 156, 156);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 19px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

#AboutMe {background-color: #ececec;
background-size: cover;}
#Projects {background-color: #d3d7d8;}
#SayHello {background-color: #d3d7d8;}
#Experience {background-color: #d3d7d8;}

#listOfProjects{color: rgb(148, 145, 145);}
#projectsTitle{color: black;}